[package]
name = "log-derive"
version = "0.2.4"
license = "MIT/Apache-2.0"
authors = ["Elichai <elichai.turkel@gmail.com>"]
repository = "https://github.com/elichai/log-derive"
readme = "README.md"
edition = "2018"
description = "Procedural Macro for logging result of a function"
categories = ["development-tools::debugging"]
keywords = ["log", "macro", "derive", "logging", "function"]

[dependencies]
darling = "0.8.5"
ident_case = "1.0.0"
proc-macro2 = "0.4"
#syn = { version = "0.15", features = ["full", "extra-traits"] } # -> For development
syn = { version = "0.15", features = ["full"] }
quote = "0.6"
log = "0.4"


[dev-dependencies]
simplelog = "0.5"

[badges]
travis-ci = { repository = "elichai/log-derive" }


[lib]
proc-macro = true